<div class="wrapper">
  <div class="friendpictures">
    <div class="friendbanner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(u);">
      <div class="imagebox">
        <div class="flex">
          <div class="ppimage">
            <%= cl_image_tag @friend.photo, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="ppname">
            <h2> <%= @friend.name %> </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="productinfos" class="container text-center">
  <div class="row" id="info_bookingbox">
    <div id="info-wrapper">
    <div class="col-xs-6">
      <div class="frienddescritpion">
          <h4> Description: </h4>
          <p> <%= @friend.description %> </p>
      </div>
    </div>
    <div class="col-xs-6">
      <h4> Information about <%= @friend.name %></h4>
      <p> Price: <%= @friend.price %>€/h</p>
      <div>
        <% @friend.friend_availabilities.each do |av| %>
          <p>Available from <%= Date::DAYNAMES[av.start_daytime.wday] %> <%= av.start_daytime.to_date  %> to <%= Date::DAYNAMES[av.end_daytime.wday] %> <%= av.end_daytime.to_date %></p>
          <% end %>
      </div>
    </div>
    </div>
  </div>
  </div>

  </div>
  <div class="flex">
    <div style="margin-right: 10px"  class=" text-center description">
      <%= link_to "Back to list", root_path, class: "btn btn-primary" %>
    </div>
    <div class=" text-center description">
      <h3>Your chosen date is <%= Date::DAYNAMES[DateTime.parse(params["d"]).wday]%> <%= DateTime.parse(params["d"]).to_date%></h3>
      <%= link_to "Book a friend!", root_path, class: "btn btn-primary" %>
    </div>
  </div>
