<h1>Edit <%= @user.first_name %></h1>
 <%= simple_form_for @user do |f| %>
      <%= f.error_notification %>
      <%= f.input :first_name, error: 'Please enter your first name' %>
      <%= f.input :last_name, error: 'Please enter your last name' %>
      <%= f.input :username, error: 'Please enter your username' %>
      <%= f.input :phone_number, error: 'Please enter your phone number' %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
