<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/277477/pexels-photo-277477.jpeg');">
  <div class="banner-content">
    <h1>Make real friends</h1>
    <p>Always open for a new buddy</p>
    <form action="#" class="form-inline">
          <input type="text" class="form-control input-lg margin-xs" placeholder="check-in">
          <input type="text" class="form-control input-lg margin-xs" placeholder="check-out">
          <select class="form-control input-lg margin-xs">
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
          </select>
          <a class="btn btn-primary btn-lg">Search</a>
    </form>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <% @friends.each do |friend| %>

        <% end %>

    </div>
  </div>

<div class="container">
  <div class="row">
  <% @friends.each do |friend| %>
    <% @user = friend.user %>
    <div class="col-xs-6 col-sm-3">
      <%= render 'shared/card', f: friend, u:@user  %>
      <div><%= friend.name %> - <%= friend.age %> y.o. - <%= friend.city %> </div>
      <div> <%= friend.description %> </div>

    </div>
      <!-- insert <div class="card"> -->
  <% end %>
  </div>
</div>

</div>
