<h1>All the friends you can rent</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <% @friends.each do |friend| %>

        <% end %>

    </div>
  </div>

<div class="container">
  <div class="row">
  <% @friends.each do |friend| %>
    <% @user = friend.user %>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card', f: friend, u:@user  %>
      <div><%= friend.name %> - <%= friend.age %> y.o. - <%= friend.city %> </div>
      <div> <%= friend.description %> </div>

    </div>
      <!-- insert <div class="card"> -->
  <% end %>
  </div>
</div>

</div>
