<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(250,250,250,0.1) 70%), url('https://static.pexels.com/photos/165263/pexels-photo-165263.jpeg');">
  <div class="banner-content">
    <h1>WANNA MAKE NEW FRIENDS ?</h1>
    <p>Make real friends!</p>
    <form action="/results" method="get" class="form-inline" name="search">
          <input type="text" class="form-control margin-xs" name="city" placeholder="Lisbon">
          <input type="text" class="form-control margin-xs" name="gender" placeholder="gender">
          <input type="text" class="form-control margin-xs" name="age" placeholder="age">
          <div class="input-group date">
              <input type="text" class="form-control" placeholder="<%= Date.today %>" name="date" id='Datetimepicker'>
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
              <%= content_for(:after_js) do %>
              <script type="text/javascript">
                  $(function () {
                      $('#Datetimepicker').datetimepicker();
                  });
              </script>
              <% end %>
          </div>


          <input type="submit" value="Search" class="btn btn-primary">


    </form>
  </div>
</div>



<div class="container">
  <div class="row">
  <% @friends.each do |friend| %>
      <div class="col-xs-6 col-sm-4">
        <%= render 'shared/card', f: friend, size: 'vertical-card' %>
        <div><%= friend.name %> - <%= friend.age %> y.o. - <%= friend.city %> - <%= friend.price %>€/hour</div>
        <div> <%= friend.description %> </div>
      </div>
  <% end %>
  </div>
</div>
