<%= render 'shared/banner', :u => "https://static.pexels.com/photos/277477/pexels-photo-277477.jpeg" %>


<div class="container">
  <div class="row">
  <% @friends.each do |friend| %>
      <div class="col-xs-6 col-sm-4">
        <%= render 'shared/card', f: friend, size: 'vertical-card' %>
        <div><%= friend.name %> - <%= friend.age %> y.o. - <%= friend.city %> </div>
        <div> <%= friend.description %> </div>
      </div>
  <% end %>
  </div>
</div>
