<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/277477/pexels-photo-277477.jpeg');">
  <div class="banner-content">
    <h1>Make real friends</h1>
    <p>Always open for a new buddy</p>
    <form action="/results" method="get" class="form-inline" name="search">
          <input type="text" class="form-control margin-xs" name="city" placeholder="Lisbon">
          <input type="text" class="form-control margin-xs" name="gender" placeholder="gender">
          <input type="text" class="form-control margin-xs" name="age" placeholder="age">
          <input type="submit" value="Search" class="btn btn-primary">
    </form>
  </div>
</div>


<div class="container">
  <div class="row">
  <% @friends.each do |friend| %>
      <div class="col-xs-6 col-sm-4">
        <%= render 'shared/card', f: friend, size: 'vertical-card'  %>
        <div><%= friend.name %> - <%= friend.age %> y.o. - <%= friend.city %> </div>
        <div> <%= friend.description %> </div>
      </div>
  <% end %>
  </div>
</div>
